@import "{{ site.theme }}";

h1 {
  font-family: firaBold;
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 0.25em;
  margin-bottom: 0.35em;
}
